In [17]:
import csv
import pandas as pd
import os

In [19]:
fao_data_csv = "Resources/aquastat.csv.csv"
who_data_csv = "Resources/cholera.csv.csv"

fao_data=pd.read_csv(fao_data_csv)
who_data = pd.read_csv(who_data_csv)

fao_data.head()

,Area,Area Id,Variable Name,Variable Id,Year,Value,Symbol,Md
Myanmar,28.0,Dependency ratio,4192.0,1992.0,14.13,I,NaN,NaN
Myanmar,28.0,Dependency ratio,4192.0,1997.0,14.13,I,NaN,NaN
Myanmar,28.0,Dependency ratio,4192.0,2002.0,14.13,I,NaN,NaN
Myanmar,28.0,Dependency ratio,4192.0,2007.0,14.13,I,NaN,NaN
Myanmar,28.0,Dependency ratio,4192.0,2012.0,14.13,I,NaN,NaN

In [4]:
fao_data.columns

Index(['Area', 'Area Id', 'Variable Name', 'Variable Id', 'Year', 'Value',
       'Symbol', 'Md'],
      dtype='object')

In [20]:
fao_data.index.name = "Country"
fao_data.head()

,Area,Area Id,Variable Name,Variable Id,Year,Value,Symbol,Md
Country,,,,,,,,
Myanmar,28.0,Dependency ratio,4192.0,1992.0,14.13,I,NaN,NaN
Myanmar,28.0,Dependency ratio,4192.0,1997.0,14.13,I,NaN,NaN
Myanmar,28.0,Dependency ratio,4192.0,2002.0,14.13,I,NaN,NaN
Myanmar,28.0,Dependency ratio,4192.0,2007.0,14.13,I,NaN,NaN
Myanmar,28.0,Dependency ratio,4192.0,2012.0,14.13,I,NaN,NaN

In [21]:
fao_cleanup = fao_data[["Area Id", "Variable Id", "Year"]]

fao_cleanup.head()

                  Area Id  Variable Id   Year
Country
Myanmar  Dependency ratio       1992.0  14.13
Myanmar  Dependency ratio       1997.0  14.13
Myanmar  Dependency ratio       2002.0  14.13
Myanmar  Dependency ratio       2007.0  14.13
Myanmar  Dependency ratio       2012.0  14.13

In [34]:
fao_targets = fao_cleanup.loc[["Myanmar","Niger", "Nigeria", "Thailand"]]
fao_final = fao_targets.rename(columns={"Area Id":"Indicator", "Variable Id":"Year", "Year" : "Value"})

fao_final["Year"] = fao_final["Year"].astype(int)

fao_indexed = fao_final.reset_index()

# for country in fao_final:
#     if fao_final["Value"] == "NaN":
#         fao_final["Value"] = 0
        
fao_indexed

,Country,Indicator,Year,Value
0,Myanmar,Dependency ratio,1992,14.130
1,Myanmar,Dependency ratio,1997,14.130
2,Myanmar,Dependency ratio,2002,14.130
3,Myanmar,Dependency ratio,2007,14.130
4,Myanmar,Dependency ratio,2012,14.130
5,Myanmar,Dependency ratio,2014,14.130
6,Myanmar,Treated municipal wastewater,1995,0.000
7,Myanmar,Total population with access to safe drinking-...,1992,58.600
8,Myanmar,Total population with access to safe drinking-...,1997,63.200
9,Myanmar,Total population with access to safe drinking-...,2002,68.900
10,Myanmar,Total population with access to safe drinking-...,2007,74.600
11,Myanmar,Total population with access to safe drinking-...,2012,80.300
12,Myanmar,Total population with access to safe drinking-...,2015,80.600
13,Niger,Dependency ratio,1992,89.720
14,Niger,Dependency ratio,1997,89.720
15,Niger,Dependency ratio,2002,89.720
16,Niger,Dependency ratio,2007,89.720
17,Niger,Dependency ratio,2012,89.720
18,Niger,Dependency ratio,2014,89.720
19,Niger,Treated municipal wastewater,2012,NaN
20,Niger,Total population with access to safe drinking-...,1992,35.700
21,Niger,Total population with access to safe drinking-...,1997,40.700
22,Niger,Total population with access to safe drinking-...,2002,45.700
23,Niger,Total population with access to safe drinking-...,2007,50.800
24,Niger,Total population with access to safe drinking-...,2012,56.200
25,Niger,Total population with access to safe drinking-...,2015,58.200
26,Niger,Population affected by water related disease,2010,3143.000
27,Nigeria,Dependency ratio,1992,22.780
28,Nigeria,Dependency ratio,1997,22.780
29,Nigeria,Dependency ratio,2002,22.780
30,Nigeria,Dependency ratio,2007,22.780
31,Nigeria,Dependency ratio,2012,22.780
32,Nigeria,Dependency ratio,2014,22.780
33,Nigeria,Total population with access to safe drinking-...,1992,42.400
34,Nigeria,Total population with access to safe drinking-...,1997,48.300
35,Nigeria,Total population with access to safe drinking-...,2002,54.200
36,Nigeria,Total population with access to safe drinking-...,2007,60.100
37,Nigeria,Total population with access to safe drinking-...,2012,65.500
38,Nigeria,Total population with access to safe drinking-...,2015,68.500
39,Thailand,Dependency ratio,1992,48.810
40,Thailand,Dependency ratio,1997,48.810
41,Thailand,Dependency ratio,2002,48.810
42,Thailand,Dependency ratio,2007,48.810
43,Thailand,Dependency ratio,2012,48.810
44,Thailand,Dependency ratio,2014,48.810
45,Thailand,Treated municipal wastewater,1990,0.000
46,Thailand,Treated municipal wastewater,2012,1.168
47,Thailand,Not treated municipal wastewater,2012,3.942
48,Thailand,Total population with access to safe drinking-...,1992,88.200
49,Thailand,Total population with access to safe drinking-...,1997,90.500
50,Thailand,Total population with access to safe drinking-...,2002,92.900
51,Thailand,Total population with access to safe drinking-...,2007,95.200
52,Thailand,Total population with access to safe drinking-...,2012,97.100
53,Thailand,Total population with access to safe drinking-...,2015,97.800
54,Thailand,Population affected by water related disease,1995,960.000

In [40]:
fao_byindicator = fao_indexed.groupby(["Indicator"]["Country"]).count()

fao_byindicator

TypeError: list indices must be integers or slices, not str